---
---
@import 'main';

/* append your custom style below */


/* Framework color */
%main-bg,
%mask-bg,
%main-border-color {
  color: #030404;
}

/* Common color */
%text-color {
  color: rgb(175, 176, 177);
}

// Sidebar
%sidebar-bg,
%sidebar-border-color {
  color: #111010cb;
  ;
}

%sidebar-hover-bg {
  color: #262626;
}


/* Topbar */
%topbar-bg {
  color: #030404;
}


%search-border-color,
%search-icon-color {
  color: rgba(231, 231, 231, 0.607);
}


// Card
%card-bg {
  color: #111010cb;
}

%card-hovor-bg {
  color: #383a3b;
}


/* categories */
%categories-border {
  color: rgba(64, 66, 69, 0.5);
}

%categories-hover-bg {
  color: rgb(73, 75, 76);
}

%categories-icon-hover-color {
  color: white
}